.navbar {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #00b4db, #0083b0);
  padding: 15px;
  border-radius: 0 0 10px 10px;
}

.navbar button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.navbar button:hover {
  background-color: #ffffff;
  color: #0083b0;
}

.content {
  padding: 30px;
  background-color: #f3faff;
  border-radius: 10px;
  margin: 20px;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: auto;
}

.proxima-cita {
  background-color: #e6f7ff;
  padding: 8px;
  border-radius: 5px;
  margin-top: 10px;
  color: #007acc;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.seguimiento {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tratamiento p {
  margin: 5px 0;
}

.proxima-dosis {
  background-color: #eaf5ff;
  padding: 8px;
  border-radius: 5px;
  color: #007acc;
  margin-top: 10px;
}

button {
  margin: 10px 5px 0 0;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #1db9c3;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #17a2b8;
}
